Assignment 1/Assignment_1_337453/WebContent/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="AuctionItems">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AuctionItem" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Title">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="0"/>
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Category" type="xs:string"/>
                            <xs:element name="Picture" type="xs:anyURI"/>
                            <xs:element name="Description">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="0"/>
                                        <xs:maxLength value="1000"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="PostalAddress">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="streetAddress"/>
                                        <xs:element type="xs:string" name="city"/>
                                        <xs:element type="xs:string" name="state"/>
                                        <xs:element type="xs:string" name="country"/>
                                        <xs:element type="xs:short" name="postalCode"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ReservePrice">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:decimal">
                                            <xs:attribute name="currency" type="currencyType"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="BiddingStartPrice">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:decimal">
                                            <xs:attribute name="currency" type="currencyType"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="BiddingIncrements" type="xs:decimal"/>
                            <xs:element name="EndTime" type="xs:date"/>
                            <xs:element name="ID" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="currencyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GBP"/>
            <xs:enumeration value="EUR"/>
            <xs:enumeration value="USD"/>
            <xs:enumeration value="AUD"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>